section.containerAutores {
    background-color:#687b69;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "DM Serif Display", serif;
    letter-spacing: 0.2vh;


    & .listAut {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .itemAut {
            position: absolute;
            inset: 0;

            & .car-imgAut {
                position: absolute;
                top: 50%; 
                transform: translateY(-50%) translateX(20%);  
                width: 37%;
                margin-top: -30px;
            
                & img {
                    width: 100%;
                    transform: rotate(0deg);
                }
            }

            & .contentAut {
                position: absolute;
                right: 100px;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px; 

                 & .car-informationAut {
                    font-weight: bold;
                    position: relative;
                    top: 75px; /* Reduzido para aproximar do h2 */
                    font-size: 20px;
                    letter-spacing: 0.2vh;
                    font-style: italic;
                    font-weight: normal;
                }
                

                & #titleAut {
                    font-size: 3.5em;
                    line-height: 1em;
                    font-family: "DM Serif Display", serif;
                    margin-top: 60px;
                    letter-spacing: 0.2vh;
                    font-style: italic;
                    font-weight: normal;
                }

                & .descriptionAut {
                    color: white;
                    font-size: 16px;
                    text-align: right;
                    max-width: 400px;
                    font-style: italic;
                    font-weight: normal;
                    margin-top: 3vh; /* Diminuído para subir a descrição */
                    letter-spacing: 0.2vh;
                }

                & .informationAut {
                    border-radius: 30px;
                    height: 35px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid #c98e82;
                    background-color: #c98e82;
                    color: #c98e82;
                    cursor: pointer;
                    font-weight: bold;
                    font-family: "DM Serif Display", serif;
                    font-style: italic;
                    font-weight: normal;
                }
            }

        }
    

    &::before {
        content: '';
        position: absolute;
        height: 200px;
        width: 100%;
        top: 50%;
        border-top: 1px solid white;
    }
}


    .arrowsAut {
        width: 70vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        display: flex;
        justify-content: space-between;
        gap: 0px;
    
        & button:nth-child(1) {
            left: -80px; /* Move a seta esquerda para a esquerda, ajustando a distância da linha */
            & img {
                transform: scale(-1); /* Inverte a seta */
            }
        }
    

        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            & img {
                width: 40px;
                margin-top: 4px;
                cursor: pointer;
            }

            &:hover {
                background-color: #40534d;
            }
        }
    }

    .indicatorsAut {
        position: absolute;
        top: 70%; /* Aumente o valor para mover para baixo */
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;
    

        & .numberAut {
            font-size: 5em;
            font-family: "DM Serif Display", serif;
            letter-spacing: 0.2vh;
            font-style: italic;
            font-weight: normal;
            position: relative;
            left: 80px;  /* Move para a direita */
            top: -30px; /* Ajuste para subir mais */
        }

        & #Aut {
            display: flex;
            gap: 20px;
            position: relative;
            left: 175px;  /* Move toda a lista mais para a direita */
        

            & #liAut { 
                width: 50px;
                height: 10px;
                background-color: #40534d;
                border-radius: 5px;
                transition: 0.5s;
                margin-top: -80px;
                position: relative;
                right: auto; /* Remove a configuração fixa anterior */
            }

            & .activeAut {
                background-color: white;
            }
        }
    }
}

section .listAut {
    & .itemAut {
        transform: translateX(100vw);
        transition: 0.5s;
        opacity: 0;

        & .car-imgAut {
            & img {
                transform: rotate(0);
                transition: 0.5s;
                transition-delay: 0.3s;
            }
        }

        & .contentAut {
            & .car-informationAut,
            #titleAut,
            .descriptionAut,
            .informationAut {
                transform: translateX(200px);
                transition: 0.7s;
                transition-delay: 0.3s;
                opacity: 0;
            }

            & #titleAut {
                transition-delay: 0.5s;
            }

            & .descriptionAut {
                transition-delay: 0.7s;
            }

            & .informationAut {
                transition-delay: 0.9s;
            }
        }
    }

    & .activeAut {
        transform: translateX(0);
        transition: 0.5s;
        opacity: 1;

        & .car-imgAut {
            & img {
                transform: rotate(0);
            }
        }

        & .contentAut {
            & .car-informationAut,
            #titleAut,
            .descriptionAut,
            .informationAut {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}